*{
    color: rgb(43, 125, 226);
    font-family: Georgia, 'Times New Roman', Times, serif
    ;
    letter-spacing: 2px;
}

.severe-alert{font-size:12px;}


.severe-alert{
    color: rgb(233, 143, 143);
    background-color: rgb(198, 225, 102);
    border: 0.5em;
    border-color: rgb(123, 187, 59);
    border-style:groove;
}

.moderate-alert{
    background-color: rgb(198, 225, 102);
    border: 0.5em;
    border-color: rgb(144, 193, 94);
    border-style:groove;
}

.severe-alert,.moderate-alert{
    color: #d91212;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{
    color: deepskyblue;
}
.alert a:hover{
  color: #ff0000;
}

ul{
    line-height: 1.6;
}
.first{
 background-color: rgb(246, 246, 35);
}
.second{
    background-color:aquamarine;
}
.india-medieval{
    text-align: center;
    border-top: 1em;
    border-style:groove;
    border-color: aqua;
}
.subsection.header{
  color:#ff0000;
}
.subsection#preview{
    color: black;
}
*{
    background-color: rgb(249, 186, 186);
}